.Header {
  position: relative;
  background-image: url("../../../assets/images/Header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding: 2rem;
  color: white;
  background-attachment: fixed;
}

.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.Header > * {
  position: relative;
  z-index: 1;
}
